body {
    background-color: skyblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #ff8484;
    border: 2px solid #000000;
    text-align: center;
}
.logo {
    display: inline-block;
    margin: 20px;
    border: 2px solid;
    border-color: #000000;
    padding: 10px;
    padding-top: 20px;
    border-radius: 30px;
    background-color: rgb(144, 255, 216);
    height: 130px;
}
#name {
    margin-top: initial;
}
#WHO {
    width: 200px;
}
.nav {
    display: inline-block;
    margin: 20px;
    border: 2px solid;
    border-color: #000000;
    border-radius: 30px;
    background-color: rgb(144, 255, 216);
    text-align: left;
    height: 130px;
    padding: 15px;
    padding-right: 30px;
    height: 135px;
}
#jump {
    text-align: center;
}
.infoBox {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 50px;

}
.infoText {
    font-size: 25px;
    text-align: left;
}
#PList {
    text-align: left;
    list-style: inside;
    font-size: 20px;
}
.final {
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    background-color: #ff8484;
}
#finalWHO {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    width: 200px;
}