body {
    background-color: skyblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #ff8484;
    border: 2px solid #000000;
    text-align: center;
}
#WHO {
    float: center;
    width: 200px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 2px;
    background-color: #b1fca2;
    padding: 5px;
    border-radius: 5px;
}
.stats {
    display: inline;
    border-style: solid;
    padding: 5px;
    margin: 0.5vw;
    font-size: 2vw;
    background-color: palegoldenrod;
}
.infoBox {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 100px;

}
.infoText {
    font-size: 25px;
    text-align: left;
}
.nav {
    text-align: left;
    list-style: inside;
    margin-left: 40%;
    margin-right: 40%;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    background-color: palegoldenrod;
}
#PList {
    text-align: left;
    list-style: inside;
    font-size: 20px;
}
.final {
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    background-color: #ff8484;
}
#finalWHO {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    width: 200px;
}